
#contact{
    font-size: 35px;
    align-self: center;
    text-align: center;
    overflow-wrap: break-word;
    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff, 0px 0px 0px 15px #000000;
    margin-left: 5cm;
    margin-right: 5cm;
}

.image-border { 
    position: absolute;
    box-shadow: 0px 0px 0px 2.5px #000, 0px 0px 0px 5px #fff, 0px 0px 0px 10px #000000;
    margin-top: 3cm;
    margin-left: -8cm;
}

#bot {
    position: absolute;
    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff, 0px 0px 0px 15px #000000;
    margin-top: -2.4cm;
    margin-left: 45cm;
}

.image-border2 { 
    position: absolute;
    box-shadow: 0px 0px 0px 2.5px #000, 0px 0px 0px 5px #fff, 0px 0px 0px 10px #000000;
    margin-top: -7.3cm;
    margin-left: 43.3cm;
}

.dish{
    margin-top: -30cm;
    margin-bottom: 11cm;
    margin-left: 7cm;
}

#dish1{
    text-align: justify;
	padding-left:12%;
    padding-right:15%;
    margin-top: -10.5cm;
	font-size: 20px;
}

.dish2{
    margin-top: -25cm;
    margin-bottom: 1.4cm;
    margin-left: 21.3cm;
}

#dish2{
    text-align: justify;
	padding-left:41.3%;
    padding-right:15%;
    margin-top: -1cm;
	font-size: 20px;
}

.dish3{
    margin-top: -23cm;
    margin-bottom: 2cm;
    margin-left: 35cm;
}

#dish3{
    text-align: justify;
	padding-left:69.9%;
    margin-top: -1.7cm;
	font-size: 20px;
}