#bot {
    position: absolute;
    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff, 0px 0px 0px 15px #000000;
    margin-top: 10cm;
    margin-left: 45cm;
}

#text {
    font-size: 25px;
    align-self: center;
    text-align: center;
    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff, 0px 0px 0px 15px #000000;

}
.image-border { 
    position: absolute;
    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #fff, 0px 0px 0px 15px #000000;
    margin-top: 5cm;
    margin-left: 43.5cm;
}
body {
background-color:rgb(243, 233, 233);
}

#title {
font-size: 52px;
align-self: center;

padding-left: 20cm;
}